.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.custom-input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: all 0.2s ease;
}
.password-input-wrapper{
  margin-bottom:10px ;
}
.custom-input:focus {
  border-color: #ffb400;
  box-shadow: 0 0 0 2px rgba(255, 180, 0, 0.2);
}

.custom-input.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

.onNext {
  width: 100%;
  margin-top: 5px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 16px;
  cursor: not-allowed;
  transition: background-color 0.2s;
}

.onNext.active {
  background-color: #ffb400;
  cursor: pointer;
}
