
/* Input phone */
.phone-input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
}
.email-input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
}
.phone-icon {
  width: 90px;
  height:35px ;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

#vietnam-flag {
  width: 25px;
  height: 20px;
  margin-left: 10px;
  object-fit: cover;
}

.phone-icon .country-code {
  margin-left: 5px;
  font-weight: 500;
}

.custom-phone-input {
  width: 380px;
  height:35px ;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  flex: 1;
  font-size: 14px;
}
.custom-phone-input:focus {
  outline: none;
  border:2px solid #669CF1;

}

/* Phần đồng ý */
.agreement {
  font-size: 13px;
  margin-top: 10px; 
  color: #2D415E;

}

.agreement strong {
  font-weight: 600;
  margin: 0 4px;
  font-size: 13px;
  color: rgb(46, 133, 247);
}

/* Nút Tiếp theo */
.next-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background: #eee;
  color: #888;
  font-size: 15px;
  cursor: not-allowed;
}

.next-btn.active {
  background: #FFC40C;
  color: #081F42;
  cursor: pointer;
}

