/* Nền mờ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Khung trắng */
#register-and-login {
  background: #fff;
  width: 600px;
  min-height: 250px;  
  padding: 30px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Nút đóng */
.close-btn {
  position: absolute;
  color: #888;
  font-size: 20px;
  font-weight: bold;
  top: 7px;
  right: 15px;
  border: none;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
}
.close-btn:focus {
  outline: none;
  color: #FF5C5C;
}
/* Tiêu đề */
#register-and-login h2 {
  display: flex;
  font-size: 25px;
  color: black;
  font-weight: bold;

}

/* Mô tả */
#register-and-login p {
  display: flex;
  margin: 10px 0;
  font-size: 14px;
  color: #333;

}