:root {
    --header-height: 80px;
    --header-bg-color: #999999;
    --header-text-color: #333333;
    --header-border-color: #e0e0e0;
    --header-padding: 0 15px;
}

.header {
    /* min-height: var(--header-height); */
    background-color: white;
    /* background-color: var(--header-bg-color); */
    color: var(--header-text-color);
    border-bottom: 1px solid var(--header-border-color);
    padding: var(--header-padding);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 220px;
}
.btn{
    margin-top: 5px;
}
img{
    padding: 1px;
    border-radius: 50%;
}
